@charset "utf-8";
/* 
html5doctor.com Reset Stylesheet
*/

html, body, div, span, object, iframe, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-color:#ccc;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

header{
    margin-top:30px;
    text-align: center;
}

header img{
    border-radius:5%;
    width:5%;
    height:5%;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* CSS Document */

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
	margin-top:40px;
    background-color: #6A5ACD;
	
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
			
	font-family:Tahoma, Geneva, sans-serif;
	color:#990000;
	font-weight:lighter;
}

.form-signin .form-signin-heading{
    color:#ffffff;
    font-weight: lighter;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
}

.signin-form
{
	margin-top:40px;
}
.signin-form h1{
    text-align: center;
    color:#3cb371;
}
.navbar-brand{
	font-family:"Lucida Handwriting";
}
#btn-submit{
	height:45px;
}

#container {
	width: 800px;
	border-radius: 4px;
    border:2px solid;
    border-color: green;
	background-color: transparent;
	height: 600px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	margin: 0px auto;
}

#dboard {
	float:left;
	width:200px;
	min-height:200px;
	margin: 5px auto;
	margin-left: 5px;
}

.transactions {
    margin: 20px;
}

#footersec {
	color:black;
	text-align: center;
    margin-top: 30px;
	margin: 0px auto;
}

.alert{
    border-radius: 5%;
    padding: 10px;
}

footer{
    color:#6a5acd;
    margin-top:30px;
    text-align: center;
}

/* Modal Form Styling */
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

input{
    width: 80%;
    display: block;
    margin: 20px auto;
}

input[type="text"],input[type="password"]{
    padding: 8px;
    border-radius: 4px;
    
}

#btn-add{
    margin-top: 20px;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}